@media (max-width: 400px) {
    .instrucciones {
        height: 30vh;
        margin-bottom: 1%;
    }

    .instrucciones__parrafo {
        width: 90%;
        height: 60%;
        font-size: 10pt;
        margin: 1%;
    }

    .juego {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .juego__play {
        width: 96%;
        height: 60%;
    }
    
    .juego__imgContenedor {
        height: 15vh;
    }
    
    .juego__informacion {
        width: 98%;
        height: 36%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        color: white;
        gap: 1%;
    }

    .juego__tiempo {
        width: 96%;
        height: 96%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .juego__otros {
        width: 96%;
        height: 96%;
        background-color: var(--color-secciones);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18pt;
        font-weight: bold;
    }

    .contBtns {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: transparent;
        padding: 0;
        width: 100%;
    }

    .juego__otrosTitulo {
        font-size: 14pt;
    }

    .configuracion__instruciones {
        width: 40%;
        padding: 5%;
        font-size: 10pt;
        text-align: center;
    }
    
    .configuracion__titulo {
        width: 22%;
        justify-content: center;
        font-size: 8pt;
    }
    
    .configuracion__btn {
        width: 18%;
        height: 8vh;
        border-radius: 15px;
        font-size: 12pt;
    }
}